{%extends "base.html"%}
{%block title%}Home{%endblock%}

{%block content%}
{%for job in jobs%}
<div class="card" style="width: 18rem;">
  <img src="/static/pics/{{job.img_path}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{job.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Posted By {{job.user.username}}</h6>
      <p class="card-text">{{job.desc}}</p>
      <!-- <a href="#" id="{{job.id}}" class="card-link" onclick="fav({{ job.id | tojson }},{{user.id|tojson}})">Add to Favourites</a> -->
      <button id="{{job.id}}" class="btn btn-primary" onclick="fav({{ job.id | tojson }},{{user.id|tojson}})">Add to Favourites</button>
    </div>
  </div>
  <br>
  <script>
    function fav(job_id,user_id){
      var tag = document.getElementById(job_id);
      console.log(job_id,user_id);
      if (tag.innerHTML=='Add to Favourites'){
        tag.innerHTML='Remove from Favourites';
        var xhr = new XMLHttpRequest();
        url = 'http://127.0.0.1:5000/fav/'+String(user_id)+'/'+String(job_id)+'/add'
        xhr.open('post',url);
        xhr.send();
      }
      else{
        tag.innerHTML='Add to Favourites';
        var xhr = new XMLHttpRequest();
        url = 'http://127.0.0.1:5000/fav/'+String(user_id)+'/'+String(job_id)+'/remove'
        xhr.open('post',url);
        xhr.send();
      }
      
    }
  </script>
{%endfor%}
{%endblock%}